<div class="d-flex justify-content-around">
<span> Officer Hour price : <span style="padding:2px 5px; border:2px solid #000; ">${{
        wageHoursPrice?.officerHours ? wageHoursPrice.officerHours : "20"
      }}</span> </span>  <span> Assistant Hour price : <span style="padding:2px 5px; border:2px solid #000; ">${{
        wageHoursPrice?.assistantHours ? wageHoursPrice.assistantHours : "15"
      }}</span> </span>
</div>

<div
  class="alert-warning alert apiResponse"
  *ngIf="showErrorAlert && !showSuccessAlert"
>
  {{ apiErrorResponse }}
</div>
<div
  class="alert-success alert apiResponse"
  *ngIf="!showErrorAlert && showSuccessAlert"
>
  {{ apiSuccessResponse }}
</div>

<div
  class="text-center m-3"
  *ngIf="!showAddEmployeeForm && !showEditEmployeeForm"
>
  <button
    class="btn badge-success"
    (click)="onClickToggleAddEmployeeForm()"
    [disabled]="loading || processingNetworkRequest"
  >
    Create New Employee
  </button>

  <ng-container *ngIf="processingNetworkRequest">
    <app-loading-spinner></app-loading-spinner>
  </ng-container>
</div>

<p *ngIf="errorMessage && errorMessage.trim().length > 0" class="alert-danger">
  {{ errorMessage }}
</p>

<ng-container *ngIf="loading">
  <app-loading-spinner> loading... </app-loading-spinner>
</ng-container>

<div
  class="table-responsive"
  *ngIf="!showAddEmployeeForm && !showEditEmployeeForm && !loading"
>
  <table class="table table-hover align-middle mx-auto w-auto table-sm">
    <ng-container *ngIf="employees && !!employees.length">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">type</th>
          <th scope="col">username</th>
          <th scope="col">email</th>
          <th scope="col">password</th>
          <th scope="col">Edit/Delete</th>
        </tr>
      </thead>
      <tbody *ngFor="let employee of employees; let i = index">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ employee.type }}</td>
          <td>{{ employee.username }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.password }}</td>
          <td>
            <fa-icon
              [icon]="editIcon"
              title="Edit"
              [style]="processingNetworkRequest ? 'pointer-events:none' : ''"
              (click)="onEditEmployee(employee)"
              [ngClass]="'edit-icon icon-button-properties mr-1'"
            ></fa-icon>
            <fa-icon
              [icon]="deleteIcon"
              title="Delete"
              [style]="processingNetworkRequest ? 'pointer-events:none' : ''"
              (click)="onDeleteEmployee(employee.employeeId, employee)"
              [ngClass]="'delete-icon icon-button-properties'"
            >
            </fa-icon>
          </td>
        </tr>
      </tbody>
    </ng-container>
  </table>
  <ng-container *ngIf="employees && !employees.length">
    <div class="emptySupplier text-center alert-warning">
      There are no employees currently available ...
    </div>
  </ng-container>
</div>
<div class="flexCenter">
  <div *ngIf="showAddEmployeeForm && !showEditEmployeeForm">
    <h1 style="color: rgb(184, 15, 199)" class="mb-5">Add a new employee</h1>

    <form
      #inputForm="ngForm"
      (ngSubmit)="onSubmit($event,inputForm);"
      class="form"
      name="employeeForm"
    >
      <div class="form-group">
        <label for="text" class="form-label">Employee Name</label>
        <input
          required
          id="employeeName"
          type="text"
          name="employeeName"
          placeholder="enter employee name"
          [(ngModel)]="newEmployee.username"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="email" class="form-label">Employee Email</label>
        <input
          required
          id="email"
          type="email"
          name="email"
          placeholder="enter employee email"
          [(ngModel)]="newEmployee.email"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="text" class="form-label">Password</label>
        <input
          required
          id="password"
          type="password"
          name="password"
          placeholder="enter password"
          [(ngModel)]="newEmployee.password"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="employeeType">Type</label>
        <select
          class="form-select form-control"
          name="employeeType"
          id="employeeType"
          [(ngModel)]="newEmployee.type"
        >
          <option ngValue="assistant">Assistant</option>
          <option ngValue="officer">Officer</option>
          <option ngValue="admin">Admin</option>
        </select>
      </div>

      <span class="d-flex">
        <button
          *ngIf="!processingNetworkRequest"
          class="btn btn-outline-success"
          type="submit"
        >
          Save
        </button>
        <button
          *ngIf="processingNetworkRequest"
          class="btn btn-primary"
          type="button"
          disabled
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Saving...</span>
        </button>
        <button
          *ngIf="!processingNetworkRequest"
          class="btn btn-danger ml-auto"
          type="button"
          (click)="onClickToggleAddEmployeeForm(); inputForm.reset()"
        >
          Cancel
        </button>
      </span>
    </form>
  </div>
  <div *ngIf="showEditEmployeeForm && !showAddEmployeeForm">
    <h1 style="color: greenyellow" class="mb-3">Editing a employee</h1>

    <hr />
    <form
      #editForm="ngForm"
      (ngSubmit)="onUpdateEmployee(updatedEmployee,$event)"
      class="form"
      name="employeeForm"
    >
      <div class="form-group">
        <label for="text" class="form-label">Employee Name</label>
        <input
          required
          id="employeeName"
          type="text"
          name="employeeName"
          placeholder="enter employee name"
          [(ngModel)]="updatedEmployee.username"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="email" class="form-label">Employee Email</label>
        <input
          required
          id="email"
          type="email"
          name="email"
          placeholder="enter employee email"
          [(ngModel)]="updatedEmployee.email"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="employeeType">Employee Type</label>
        <select
          class="form-select form-control"
          name="employeeType"
          id="employeeType"
          [(ngModel)]="updatedEmployee.type"
        >
         <option disabled selected   [ngValue]="updatedEmployee.type"> {{updatedEmployee.type}} </option>
          <option ngValue="assistant">Assistant</option>
          <option ngValue="officer">Officer</option>
          <option ngValue="admin">Admin</option>
        </select>
      </div>
      <div class="form-group">
        <label for="text" class="form-label">Password</label>
        <input
          required
          id="password"
          type="password"
          name="password"
          placeholder="enter password"
          [(ngModel)]="updatedEmployee.password"
          class="form-control"
        />
      </div>

   

      <span class="d-flex">
        <button
          *ngIf="!processingNetworkRequest"
          class="btn btn-outline-success"
          type="submit"
        >
          Save
        </button>
        <button
          *ngIf="processingNetworkRequest"
          class="btn btn-primary"
          type="button"
          disabled
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Saving...</span>
        </button>
        <button
          *ngIf="!processingNetworkRequest"
          class="btn btn-danger ml-auto"
          type="button"
          (click)="onClickToggleEditEmployeeForm(); editForm.reset()"
        >
          Cancel
        </button>
      </span>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
