<div class="d-flex justify-content-center form-container-div">
  <div class="form">
    <p class="text-center">your logo/heading here</p>

    <form (ngSubmit)="onSignUp()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="email" />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="password" />
      </div>

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" required [(ngModel)]="username" />
      </div>

      <div>
        <label for="roles">Role : </label>
        <select name="roles" id="role" [(ngModel)]="role">
          <option value="admin">admin</option>
          <option value="officer">officer</option>
          <option value="assistant">assistant</option>
        </select>
        <br><br>
      </div>

      <button type="submit" class="btn btn-success">Register</button>
    </form>
  </div>
</div>