

<div
  class="alert-warning alert apiResponse"
  *ngIf="showErrorAlert && !showSuccessAlert"
>
  {{ apiErrorResponse }}
</div>
<div
  class="alert-success alert apiResponse"
  *ngIf="!showErrorAlert && showSuccessAlert"
>
  {{ apiSuccessResponse }}
</div>
<div
  class="text-center m-3"
  *ngIf="!showAddSupplierForm && !showEditSupplierForm"
>
  <button class="btn badge-success" (click)="onClickToggleAddSupplierForm()">
    Create New Supplier
  </button>
</div>

<p *ngIf="errorMessage && errorMessage.trim().length > 0" class="alert-danger">
  {{ errorMessage }}
</p>


<ng-container *ngIf="loading">
  <app-loading-spinner> loading... </app-loading-spinner>
</ng-container>

<div *ngIf="!showAddSupplierForm && !showEditSupplierForm &&!loading">
  <div class="table-responsive">
    <table class="table">
      <ng-container *ngIf="suppliers && suppliers.length > 0">
        <thead>
          <tr>
            <th scope="col">SupplierID</th>
            <th scope="col">SupplierName</th>
            <th scope="col">Product name</th>
            <th scope="col">BasePrice</th>
            <th scope="col">Tax</th>
            <th scope="col">characteristics</th>
            <th scope="col">Buy</th>
            <th scope="col">Edit/Delete</th>
          </tr>
        </thead>
        <tbody *ngFor="let supplier of suppliers">
          <tr *ngFor="let product of supplier.supplierProducts">
            <td>{{ supplier.supplierId }}</td>
            <td>{{ supplier.supplierName }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.basePrice }}</td>
            <td>{{ product.tax }}</td>
            <td>{{ product.characteristics }}</td>

            <td>
              <a class="btn btn-primary btn-sm" (click)="buyProduct(supplier)">
                Buy</a
              >
            </td>

            <td>
              <fa-icon
                [icon]="editIcon"
                title="Edit"
                (click)="onEditSupplier(supplier.supplierId, supplier)"
                [ngClass]="'edit-icon icon-button-properties mr-1'"
              ></fa-icon>
              <fa-icon
                [icon]="deleteIcon"
                title="Delete"
                (click)="onDeleteSupplier(supplier.supplierId, supplier)"
                [ngClass]="'delete-icon icon-button-properties'"
              >
              </fa-icon>
            </td>
          </tr>
        </tbody>
      </ng-container>
    </table>
    <ng-container *ngIf="!suppliers || !suppliers.length">
      <div class="emptySupplier text-center alert-warning">
        There are no suppliers currently available ...
      </div>
    </ng-container>
  </div>
  <router-outlet></router-outlet>
</div>

<ng-container *ngIf="showAddSupplierForm && !showEditSupplierForm">
  <h1 style="color: rgb(184, 15, 199)" class="mb-3">Add a new supplier</h1>

  <form
    #inputForm="ngForm"
    (ngSubmit)="onSubmit(); formSubmitted ? inputForm.reset() : ''"
    class="form"
    name="supplierForm"
  >
    <div class="form-group">
      <label for="supplierName" class="form-label">Supplier Name</label>
      <input
        required
        id="supplierName"
        type="text"
        name="supplierName"
        placeholder="enter supplier name"
        [(ngModel)]="newSupplier.supplierName"
        class="form-control"
      />
    </div>
    <hr>

    

    <p class="text-center m-3">supplierProducts</p>
    <hr />

    <div class="form-group">
      <label for="productName" class="form-label">Product Name</label>
      <input
        required
        id="productName"
        type="text"
        name="productName"
        placeholder="enter product name"
        [(ngModel)]="newSupplier.supplierProducts[0].name"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="basePrice" class="form-label">Base Price </label>
      <input
        required
        id="basePrice"
        type="text"
        name="basePrice"
        placeholder="enter product base price"
        [(ngModel)]="newSupplier.supplierProducts[0].basePrice"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="tax" class="form-label">Tax </label>
      <input
        required
        id="tax"
        type="text"
        name="tax"
        placeholder="enter product tax"
        [(ngModel)]="newSupplier.supplierProducts[0].tax"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="characteristics" class="form-label">characteristics</label>
      <input
        required
        id="characteristics"
        type="text"
        name="characteristics"
        placeholder="enter product characteristics"
        [(ngModel)]="newSupplier.supplierProducts[0].characteristics"
        class="form-control"
      />
    </div>
    <span class="d-flex">
      <button class="btn btn-outline-success" type="submit">Save</button>

      <button
        class="btn btn-danger ml-auto"
        type="button"
        (click)="onClickToggleAddSupplierForm()"
      >
        Cancel
      </button>
    </span>
  </form>
</ng-container>
<ng-container *ngIf="showEditSupplierForm && !showAddSupplierForm">
  <h1 style="color: greenyellow" class="mb-3">Editing a supplier</h1>

  <hr />
  <form
    #inputForm="ngForm"
    (ngSubmit)="onUpdateSupplier(updatedSupplier)"
    class="form"
    name="supplierForm"
  >
    <div class="form-group">
      <label for="text" class="form-label">Supplier Name</label>
      <input
        required
        id="supplierName"
        type="text"
        name="supplierName"
        placeholder="enter supplier name"
        [(ngModel)]="updatedSupplier.supplierName"
        class="form-control"
      />
    </div>

    <p class="text-center m-3">supplierProducts</p>
    <hr />

     <div class="form-group">
      <label for="productName" class="form-label">Product Name</label>
      <input
        required
        id="productName"
        type="text"
        name="productName"
        placeholder="enter product name"
        [(ngModel)]="updatedSupplier.supplierProducts[0].name"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="basePrice" class="form-label">Base Price </label>
      <input
        required
        id="basePrice"
        type="text"
        name="basePrice"
        placeholder="enter base price"
        [(ngModel)]="updatedSupplier.supplierProducts[0].basePrice"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="tax" class="form-label">Tax </label>
      <input
        required
        id="tax"
        type="text"
        name="tax"
        placeholder="enter tax"
        [(ngModel)]="updatedSupplier.supplierProducts[0].tax"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="characteristics" class="form-label">characteristics</label>
      <input
        required
        id="characteristics"
        type="text"
        name="characteristics"
        placeholder="enter characteristics"
        [(ngModel)]="updatedSupplier.supplierProducts[0].characteristics"
        class="form-control"
      />
    </div>
    <span class="d-flex">
      <button class="btn btn-outline-success" type="submit">Save</button>

      <button
        class="btn btn-danger ml-auto"
        type="button"
        (click)="onClickToggleEditSupplierForm()"
      >
        Cancel
      </button>
    </span>
  </form>
</ng-container>
