<div
  class="alert-warning alert apiResponse"
  *ngIf="showErrorAlert && !showSuccessAlert"
>
  {{ apiErrorResponse }}
</div>
<div
  class="alert-success alert apiResponse"
  *ngIf="!showErrorAlert && showSuccessAlert"
>
  {{ apiSuccessResponse }}
</div>
<div
  class="text-center m-3"
  *ngIf="
    !showAddSupplierForm &&
    !showEditSupplierForm &&
    !showSupplierProducts &&
    !showAddSupplierProductForm
  "
>
  <button
    class="btn badge-success"
    (click)="onClickToggleAddSupplierForm()"
    [disabled]="loading || processingNetworkRequest"
  >
    Create New Supplier
  </button>
</div>

<p *ngIf="errorMessage && errorMessage.trim().length > 0" class="alert-danger">
  {{ errorMessage }}
</p>

<ng-container *ngIf="loading">
  <app-loading-spinner> loading... </app-loading-spinner>
</ng-container>

<div
  *ngIf="
    !showAddSupplierForm &&
    !showEditSupplierForm &&
    !loading &&
    !showAddSupplierProductForm &&
    !showEditSupplierProductForm
  "
>
  <ng-container *ngIf="processingNetworkRequest">
    <app-loading-spinner></app-loading-spinner>
  </ng-container>
  <div *ngIf="!showSupplierProducts" class="table-responsive">
    <table class="table table-hover align-middle mx-auto w-auto">
      <ng-container *ngIf="suppliers && suppliers.length > 0">
        <thead>
          <tr>
            <th scope="col">SupplierID</th>
            <th scope="col">SupplierName</th>
            <th scope="col">Edit/Delete</th>
            <th>Buy/View Products</th>
          </tr>
        </thead>
        <tbody *ngFor="let supplier of suppliers">
          <tr>
            <td>{{ supplier.supplierId }}</td>
            <td>{{ supplier.supplierName }}</td>

            <td>
              <fa-icon
                [icon]="editIcon"
                title="Edit supplier"
                (click)="onEditSupplier(supplier)"
                [ngClass]="'edit-icon icon-button-properties mr-1'"
                [style]="processingNetworkRequest ? 'pointer-events:none' : ''"
              ></fa-icon>
              <fa-icon
                [icon]="deleteIcon"
                title="Delete supplier"
                (click)="onDeleteSupplier(supplier.supplierId, supplier)"
                [ngClass]="'delete-icon icon-button-properties'"
                [style]="processingNetworkRequest ? 'pointer-events:none' : ''"
              >
              </fa-icon>
            </td>

            <td>
              <button
                class="btn btn-primary btn-sm"
                (click)="toggleSupplierProductsList(supplier)"
                [disabled]="processingNetworkRequest"
              >
                view all products
              </button>
            </td>
          </tr>
        </tbody>
      </ng-container>
    </table>
    <ng-container *ngIf="!suppliers || !suppliers.length">
      <div class="emptySupplier text-center alert-warning">
        There are no suppliers currently available ...
      </div>
    </ng-container>
  </div>

  <div *ngIf="showSupplierProducts" class="table-responsive text-center">
    <!--     <p>
      <span class="alert-info"> supplierId </span>: {{ supplier.supplierId }}
    </p> -->
    <p><span class=""> supplierName </span>: {{ supplier.supplierName }}</p>
    <button
      class="btn btn-primary btn-sm mb-2"
      (click)="toggleAddSupplierProductForm(supplier.supplierId)"
      [disabled]="processingNetworkRequest"
    >
      Add new Product
    </button>
    <ng-container
      *ngIf="supplier.supplierProducts && supplier.supplierProducts.length"
    >
      <table class="table table-hover align-middle mx-auto w-auto table-sm">
        <thead>
          <tr>
            <th scope="col">Product name</th>
            <th scope="col">BasePrice</th>
            <th scope="col">Tax</th>
            <th scope="col">characteristics</th>
            <th scope="col">Buy</th>
            <th scope="col">Edit/Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of supplier.supplierProducts">
            <td>{{ product.name }}</td>
            <td>{{ product.basePrice }}</td>
            <td>{{ product.tax }}</td>
            <td>{{ product.characteristics }}</td>
            <td>
              <button
                class="btn btn-primary btn-sm"
                (click)="buyProduct(product.productId)"
                [disabled]="processingNetworkRequest"
              >
                Buy
              </button>
            </td>
            <td>
              <fa-icon
                [icon]="editIcon"
                title="Edit product"
                (click)="onEditSupplierProducts(supplier, product)"
                [ngClass]="'edit-icon icon-button-properties mr-1'"
                [style]="processingNetworkRequest ? 'pointer-events:none' : ''"
              ></fa-icon>
              <fa-icon
                [icon]="deleteIcon"
                title="Delete product"
                (click)="onDeleteSupplierProduct(product.productId)"
                [ngClass]="'delete-icon icon-button-properties'"
                [style]="processingNetworkRequest ? 'pointer-events:none' : ''"
              >
              </fa-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-container
      *ngIf="!supplier.supplierProducts || !supplier.supplierProducts.length"
    >
      <div class="emptySupplier text-center alert-warning">
        There are no products for {{ supplier.supplierName }} currently
        available ...
      </div>
    </ng-container>

    <button
      class="btn btn-secondary mt-3"
      (click)="toggleSupplierProductsList()"
      [disabled]="processingNetworkRequest"
    >
      Go Back
    </button>
  </div>
</div>
<div class="flexCenter">
  <div *ngIf="showAddSupplierForm && !showEditSupplierForm">
    <h1 style="color: rgb(184, 15, 199)" class="mb-3">Add a new supplier</h1>

    <form
      #inputForm="ngForm"
      (ngSubmit)="onSubmit(); !!formSubmitted ? inputForm.reset() : ''"
      class="form"
      name="supplierForm"
    >
      <div class="form-group">
        <label for="supplierName" class="form-label">Supplier Name</label>
        <input
          required
          id="supplierName"
          type="text"
          name="supplierName"
          placeholder="enter supplier name"
          [(ngModel)]="newSupplier.supplierName"
          class="form-control"
        />
      </div>
      <hr />

      <p class="text-center m-3">Supplier Products</p>
      <hr />

      <div class="form-group">
        <label for="productName" class="form-label">Product Name</label>
        <input
          required
          id="productName"
          type="text"
          name="productName"
          placeholder="enter product name"
          [(ngModel)]="newSupplier.supplierProducts[0].name"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="basePrice" class="form-label">Base Price </label>
        <input
          required
          id="basePrice"
          type="text"
          name="basePrice"
          placeholder="enter product base price"
          [(ngModel)]="newSupplier.supplierProducts[0].basePrice"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="tax" class="form-label">Tax </label>
        <input
          required
          id="tax"
          type="text"
          name="tax"
          placeholder="enter product tax"
          [(ngModel)]="newSupplier.supplierProducts[0].tax"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="characteristics" class="form-label">characteristics</label>
        <input
          required
          id="characteristics"
          type="text"
          name="characteristics"
          placeholder="enter product characteristics"
          [(ngModel)]="newSupplier.supplierProducts[0].characteristics"
          class="form-control"
        />
      </div>
      <span class="d-flex">
        <button
          *ngIf="!processingNetworkRequest"
          class="btn btn-outline-success"
          type="submit"
        >
          Save
        </button>
        <button
          *ngIf="processingNetworkRequest"
          class="btn btn-primary"
          type="button"
          disabled
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Saving...</span>
        </button>
        <button
          class="btn btn-danger ml-auto"
          type="button"
          [disabled]="processingNetworkRequest"
          (click)="onClickToggleAddSupplierForm(); inputForm.reset()"
        >
          Cancel
        </button>
      </span>
    </form>
  </div>
  <div *ngIf="showEditSupplierForm && !showAddSupplierForm">
    <h1 style="color: greenyellow" class="mb-3">Editing a supplier</h1>

    <hr />
    <form
      #editForm="ngForm"
      (ngSubmit)="
        onUpdateSupplier(updatedSupplier); formSubmitted ? editForm.reset() : ''
      "
      class="form"
      name="supplierForm"
    >
      <div class="form-group">
        <label for="text" class="form-label">Supplier Name</label>
        <input
          required
          id="supplierName"
          type="text"
          name="supplierName"
          placeholder="enter supplier name"
          [(ngModel)]="updatedSupplier.supplierName"
          class="form-control"
        />
      </div>

       <span class="d-flex">
        <button
          *ngIf="!processingNetworkRequest"
          class="btn btn-outline-success"
          type="submit"
        >
          Save
        </button>
        <button
          *ngIf="processingNetworkRequest"
          class="btn btn-primary"
          type="button"
          disabled
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Saving...</span>
        </button>
        <button
          class="btn btn-danger ml-auto"
          type="button"
          [disabled]="processingNetworkRequest"
          (click)="onClickToggleEditSupplierForm();"
        >
          Cancel
        </button>
      </span>
    </form>
  </div>

  <!-- <ng-container *ngIf="showEditSupplierForm && !showAddSupplierForm">
  <h1 style="color: greenyellow" class="mb-3">Editing a supplier</h1>

  <hr />
  <form
    #editForm="ngForm"
    (ngSubmit)="
      onUpdateSupplier(updatedSupplier); formSubmitted ? editForm.reset() : ''
    "
    class="form"
    name="supplierForm"
  >
    <div class="form-group">
      <label for="text" class="form-label">Supplier Name</label>
      <input
        required
        id="supplierName"
        type="text"
        name="supplierName"
        placeholder="enter supplier name"
        [(ngModel)]="updatedSupplier.supplierName"
        class="form-control"
      />
    </div>

    <p class="text-center m-3">supplierProducts</p>
    <hr />

   <ng-container
      *ngFor="let product of updatedSupplier.supplierProducts; let i = index"
    >
      <h1>Product {{ i + 1 }}</h1>
      <div class="form-group">
        <label for="productName" class="form-label">Product Name</label>
        <input
          required
          id="productName"
          type="text"
          name="productName"
          placeholder="enter product name"
          [(ngModel)]="product.name"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="basePrice" class="form-label">Base Price </label>
        <input
          required
          id="basePrice"
          type="text"
          name="basePrice"
          placeholder="enter base price"
          [(ngModel)]="product.basePrice"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="tax" class="form-label">Tax </label>
        <input
          required
          id="tax"
          type="text"
          name="tax"
          placeholder="enter tax"
          [(ngModel)]="product.tax"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="characteristics" class="form-label">characteristics</label>
        <input
          required
          id="characteristics"
          type="text"
          name="characteristics"
          placeholder="enter characteristics"
          [(ngModel)]="product.characteristics"
          class="form-control"
        />
      </div>
    </ng-container> 
   
  
    <span class="d-flex">
      <button class="btn btn-outline-success" type="submit">Save</button>

      <button
        class="btn btn-danger ml-auto"
        type="button"
        [disabled]="processingNetworkRequest"
        (click)="onClickToggleEditSupplierForm(); editForm.reset()"
      >
        Cancel
      </button>
    </span>
  </form>
</ng-container>  -->

  <div
    *ngIf="
      !showAddSupplierForm &&
      !showEditSupplierForm &&
      !showEditSupplierProductForm &&
      showAddSupplierProductForm
    "
  >
    <h1 style="color: rgb(184, 15, 199)" class="mb-3 mt-3">
      Add a new product to the supplier
    </h1>
    <hr />
    <form
      #addProductForm="ngForm"
      (ngSubmit)="
        addSupplierProducts(); formSubmitted ? addProductForm.reset() : ''
      "
      class="form"
    >
      <div class="form-group">
        <label for="supplierId" class="form-label">Supplier Id</label>
        <input
          required
          id="supplierId"
          type="text"
          name="supplierId"
          placeholder="enter supplier Id"
          [(ngModel)]="supplierId"
          disabled
          class="form-control"
        />
      </div>
      <hr />

      <p class="text-center m-3">Supplier Products</p>
      <hr />

      <div class="form-group">
        <label for="productName" class="form-label">Product Name</label>
        <input
          required
          id="productName"
          type="text"
          name="productName"
          placeholder="enter product name"
          [(ngModel)]="addSupplierProduct.name"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="basePrice" class="form-label">Base Price </label>
        <input
          required
          id="basePrice"
          type="text"
          name="basePrice"
          placeholder="enter product base price"
          [(ngModel)]="addSupplierProduct.basePrice"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="tax" class="form-label">Tax </label>
        <input
          required
          id="tax"
          type="text"
          name="tax"
          placeholder="enter product tax"
          [(ngModel)]="addSupplierProduct.tax"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="characteristics" class="form-label">characteristics</label>
        <input
          required
          id="characteristics"
          type="text"
          name="characteristics"
          placeholder="enter product characteristics"
          [(ngModel)]="addSupplierProduct.characteristics"
          class="form-control"
        />
      </div>
      <span class="d-flex">
        <button
          *ngIf="!processingNetworkRequest"
          class="btn btn-outline-success"
          type="submit"
        >
          Save
        </button>
        <button
          *ngIf="processingNetworkRequest"
          class="btn btn-primary"
          type="button"
          disabled
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Saving...</span>
        </button>
        <button
          class="btn btn-danger ml-auto"
          type="button"
          [disabled]="processingNetworkRequest"
          (click)="toggleAddSupplierProductForm(); addProductForm.reset()"
        >
          Cancel
        </button>
      </span>
    </form>
  </div>

  <div
    *ngIf="
      !showAddSupplierForm &&
      !showEditSupplierForm &&
      !showAddSupplierProductForm &&
      showEditSupplierProductForm
    "
  >
    <h1 style="color: rgb(184, 15, 199)" class="mb-3 mt-3">
      Add a new product to the supplier
    </h1>
    <hr />
    <form
      #addSupplierProductForm="ngForm"
      (ngSubmit)="
        updateSupplierProducts();
        formSubmitted ? addSupplierProductForm.reset() : ''
      "
      class="form"
    >
      <div class="form-group">
        <label for="supplierId" class="form-label">Supplier Id</label>
        <input
          required
          id="supplierId"
          type="text"
          name="supplierId"
          placeholder="enter supplier Id"
          [(ngModel)]="supplierId"
          disabled
          class="form-control"
        />
      </div>
      <hr />

      <p class="text-center m-3">Supplier Products</p>
      <hr />

      <div class="form-group">
        <label for="productName" class="form-label">Product Name</label>
        <input
          required
          id="productName"
          type="text"
          name="productName"
          placeholder="enter product name"
          [(ngModel)]="updatedSupplierProduct.name"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="basePrice" class="form-label">Base Price </label>
        <input
          required
          id="basePrice"
          type="text"
          name="basePrice"
          placeholder="enter product base price"
          [(ngModel)]="updatedSupplierProduct.basePrice"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="tax" class="form-label">Tax </label>
        <input
          required
          id="tax"
          type="text"
          name="tax"
          placeholder="enter product tax"
          [(ngModel)]="updatedSupplierProduct.tax"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="characteristics" class="form-label">characteristics</label>
        <input
          required
          id="characteristics"
          type="text"
          name="characteristics"
          placeholder="enter product characteristics"
          [(ngModel)]="updatedSupplierProduct.characteristics"
          class="form-control"
        />
      </div>
      <span class="d-flex">
        <button
          *ngIf="!processingNetworkRequest"
          class="btn btn-outline-success"
          type="submit"
        >
          Save
        </button>
        <button
          *ngIf="processingNetworkRequest"
          class="btn btn-primary"
          type="button"
          disabled
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Saving...</span>
        </button>
        <button
          class="btn btn-danger ml-auto"
          type="button"
          [disabled]="processingNetworkRequest"
          (click)="showEditSupplierProductForm = false"
        >
          Cancel
        </button>
      </span>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
