<div
  class="alert-warning alert apiResponse"
  *ngIf="showErrorAlert && !showSuccessAlert"
>
  {{ apiErrorResponse }}
</div>
<div
  class="alert-success alert apiResponse"
  *ngIf="!showErrorAlert && showSuccessAlert"
>
  {{ apiSuccessResponse }}
</div>

<div class="text-center m-3" *ngIf="!showAddBudgetForm && !showEditBudgetForm">
  <button
    class="btn badge-success"
    (click)="onClickToggleAddBudgetForm()"
    [disabled]="loading"
  >
    Create New Budget
  </button>
</div>

<p *ngIf="errorMessage && errorMessage.trim().length > 0" class="alert-danger">
  {{ errorMessage }}
</p>

<ng-container *ngIf="loading">
  <app-loading-spinner> loading... </app-loading-spinner>
</ng-container>
<div
  class="table-responsive"
  *ngIf="
    !showAddBudgetForm &&
    !showEditBudgetForm &&
    !loading &&
    budgets &&
    budgets.length
  "
>
  <ng-container *ngIf="processingNetworkRequest">
    <app-loading-spinner></app-loading-spinner>
  </ng-container>
  <table class="table table-hover align-middle mx-auto w-auto table-sm">
    <ng-container *ngIf="budgets">
      <thead>
        <tr>
          <th scope="col">BudgetNumber</th>
          <th scope="col">BudgetName</th>
          <th scope="col">Total Price</th>
          <th scope="col">BudgetStatus</th>
          <th scope="col">Change Status</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Report(pdf)</th>
          <th scope="col">Edit/Delete</th>
        </tr>
      </thead>
      <tbody *ngFor="let budget of budgets">
        <tr>
          <td>{{ budget.budgetId }}</td>
          <td>{{ budget.budgetName }}</td>
          <td>{{ budget.totalPrice }}</td>
          <td>{{ budget.budgetStatus }}</td>
          <td>
            <button
              [class]="
                budget.budgetStatus == 'Accepted'
                  ? 'btn-success btn btn-sm'
                  : 'btn-primary btn btn-sm'
              "
              (click)="generateNewOrder(budget.budgetId, budget)"
              [disabled]="
                budget.budgetStatus == 'Accepted' || processingNetworkRequest
              "
            >
              {{ budget.budgetStatus == "Accepted" ? "Accepted" : "Accept" }}
            </button>
          </td>

          <td>
            {{ budget.customer.name }}
          </td>
          <td>
            <button
              [disabled]="processingNetworkRequest"
              class="btn btn-sm badge-secondary"
              (click)="budgetPdfDownload(budget.budgetId, budget)"
            >
              Download
            </button>
          </td>

          <td>
            <fa-icon
              [icon]="editIcon"
              title="Edit"
              (click)="onEditBudget(budget.budgetId, budget)"
              [ngClass]="'edit-icon icon-button-properties mr-1'"
              [style]="processingNetworkRequest ? 'pointer-events:none' : ''"
            ></fa-icon>
            <fa-icon
              [icon]="deleteIcon"
              title="Delete"
              (click)="onDeleteBudget(budget.budgetId, budget)"
              [ngClass]="'delete-icon icon-button-properties'"
              [style]="processingNetworkRequest ? 'pointer-events:none' : ''"
            >
            </fa-icon>
          </td>
        </tr>
      </tbody>
    </ng-container>
  </table>
</div>

<div
  class="emptyBudget alert-warning text-center"
  *ngIf="
    !budgets ||
    (!budgets.length && !loading && !errorMessage && !showAddBudgetForm)
  "
>
  There are no budgets available at this moment
</div>
<div class="flexCenter">
  <div *ngIf="showAddBudgetForm && !showEditBudgetForm">
    <h1 style="color: rgb(184, 15, 199)" class="mb-3">Add a new budget</h1>

    <form
      #inputForm="ngForm"
      (ngSubmit)="onSubmit(); !!formSubmitted ? inputForm.reset() : ''"
      class="form"
      name="budgetForm"
    >
      <div class="form-group">
        <label for="text" class="form-label">Budget Name</label>
        <input
          required
          id="budgetName"
          type="text"
          name="budgetName"
          placeholder="enter budget name"
          [(ngModel)]="newBudget.budgetName"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="customer">Customer</label>
        <select
          class="form-select form-control"
          name="customer"
          id="customer"
          [(ngModel)]="newBudget.customer"
          (ngModelChange)="isNewCustomerSelected(newBudget.customer)"
        >
          <option selected ngValue="newCustomer">New customer</option>
          <option
            *ngFor="let customer of customers | filterCustomer"
            [ngValue]="customer"
          >
            {{ customer.customerId }}- {{ customer.name }}
          </option>
        </select>
      </div>

      <ng-container *ngIf="showNewCustomerForm">
        <div class="form-group">
          <label for="customerName" class="form-label">Customer Name</label>
          <input
            required
            id="customerName"
            type="text"
            name="customerName"
            placeholder="enter customer name"
            [(ngModel)]="customer.name"
            class="form-control"
          />
        </div>
      </ng-container>
      <div class="form-group">
        <label for="services">Services</label>
        <select
          class="form-select form-control"
          name="services"
          id="services"
          [(ngModel)]="newBudget.service"
          [multiple]="true"
          (ngModelChange)="isInstallationSelected(newBudget.service)"
        >
          <option *ngFor="let service of services" [ngValue]="service">
            {{ service.type }}
          </option>
        </select>
      </div>
      <ng-container *ngIf="showProductsButton">
        <!--   <div class="form-group">
        <label for="services">products</label>
        <select
          class="form-select form-control"
          name="services"
          id="services"
          [(ngModel)]="newBudget.productList"
          [multiple]="true"
        >
          <option *ngFor="let product of products" [ngValue]="product">
            {{ product.name }}
          </option>
        </select>
      </div>  -->
        <button
          class="btn btn-primary mb-3 mt-3"
          (click)="showProductsCart = true; openCreateAddProductModal(content)"
          type="button"
        >
          Show Product Cart
        </button>
      </ng-container>
      <div class="modal-container">
        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-custom">
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">
                Add budgets products
              </h4>
              <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="d('Cross click')"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card-header">Products Cart</div>

              <table
                class="table table-hover align-middle mx-auto w-auto table-sm"
              >
                <thead>
                  <tr>
                    <th scope="col">Select Product</th>
                    <th scope="col">Product Id</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Price</th>
                    <th scope="col">Quantity In Stock</th>
                    <th scope="col">Buy Quantity</th>
                    <th scope="col">Total price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of products; let i = index">
                    <td>
                      <span class="mr-2">
                        <input
                          type="checkbox"
                          class="checkbox"
                          [value]="product"
                          min="1"
                          [checked]="
                            product.productQuantity > 0
                          "
                          (change)="
                            onBudgetCreationProductCartChange(
                              i,
                              product,
                              $event
                            )
                          "
                        />
                      </span>
                    </td>
                    <td>{{ product.productId }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                      {{ product.quantityInStock }}
                    </td>
                    <td class="extra_wide_td">
                      <button
                        class="btn btn-sm btn-dark"
                        (click)="changeProductQuanity(product, 'sub')"
                        [disabled]="product.productQuantity < 1"
                      >
                        -
                      </button>

                      <span class="ml-2 mr-2">
                        {{ product.productQuantity }}</span
                      >
                      <button
                        class="btn btn-sm btn-success"
                        (click)="changeProductQuanity(product, 'add')"
                        [disabled]="product.quantityInStock <= 0"
                      >
                        +
                      </button>
                    </td>
                    <td>
                      {{
                        fixDigitsAfterDecimal(
                          product.productQuantity * product.price
                        )
                      }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer d-flex justify-content-around">
              <span>
                <span class="badge badge-info"> products in Cart </span> =
                {{ this.newBudgetProducts.length }}</span
              >

              <button
                class="btn btn-outline-dark"
                id="closeModal"
                data-dismiss="modal"
                type="button"
                (click)="this.createNewProductModal.close()"
              >
                Save
              </button>
            </div>
            <!--       <span class="d-flex">
        <button
          *ngIf="!processingNetworkRequest"
          class="btn btn-outline-success"
          type="button"
        >
          Save
        </button>
        <button
          *ngIf="processingNetworkRequest"
          class="btn btn-primary"
          type="button"
          disabled
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Saving...</span>
        </button>
        <button
          class="btn btn-danger ml-auto"
          type="button"
          (click)="showProductsCart = false"
          [disabled]="processingNetworkRequest"
        >
          Cancel
        </button>
      </span> -->
            <!--  <ng-container *ngIf="showProducts">
      <ng-container >
        <div class="form-group" *ngFor="let product of products; let i = index" >
          <label for="services">{{product.name}}</label>
          <input
            type="checkbox"
            class="form-select form-control"
            name="services"
            id="services"
            (ngModelChange)="changeEvent(product)"
            [(ngModel)]="newBudget.productList[i]"
            [multiple]="true"
          />
        </div>
      </ng-container>
    </ng-container> -->
          </div>
        </ng-template>
      </div>
      <ng-container *ngIf="showHoursInput">
        <div class="form-group">
          <span>
            <label for="officerHours" class="form-label">Officer Hours</label>
            <input
              required
              id="officerHours"
              type="number"
              name="officerHours"
              [(ngModel)]="newBudget.officerHours"
              class="form-control"
            />
          </span>
        </div>

        <div class="form-group">
          <label for="assistantHours" class="form-label">Assistant Hours</label>
          <input
            required
            id="assistantHours"
            type="number"
            name="assistantHours"
            [(ngModel)]="newBudget.assistantHours"
            class="form-control"
          />
        </div>
      </ng-container>

      <span class="d-flex">
        <button
          *ngIf="!processingNetworkRequest"
          class="btn btn-outline-success"
          type="submit"
        >
          Save
        </button>
        <button
          *ngIf="processingNetworkRequest"
          class="btn btn-primary"
          type="button"
          disabled
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Saving...</span>
        </button>
        <button
          class="btn btn-danger ml-auto"
          type="button"
          (click)="onClickToggleAddBudgetForm(); inputForm.reset()"
          [disabled]="processingNetworkRequest"
        >
          Cancel
        </button>
      </span>
    </form>
  </div>
  <div *ngIf="showEditBudgetForm && !showAddBudgetForm">
    <h1 style="color: greenyellow" class="mb-3">Editing a budget</h1>

    <hr />
    <form
      #editForm="ngForm"
      (ngSubmit)="
        onUpdateBudget(updatedBudget); formSubmitted ? editForm.reset() : ''
      "
      class="form"
      name="budgetForm"
    >
      <div class="form-group">
        <label for="text" class="form-label">Budget Name</label>
        <input
          required
          id="budgetName"
          type="text"
          name="budgetName"
          placeholder="enter budget name"
          [(ngModel)]="updatedBudget.budgetName"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label for="customer">Customer</label>
        <select
          class="form-select form-control"
          name="customer"
          id="customer"
          [(ngModel)]="updatedBudget.customer"
        >
          <option disabled selected [ngValue]="updatedBudget.customer">
            {{ updatedBudget.customer?.customerId }} -
            {{ updatedBudget.customer?.name }}
          </option>
          <option
            *ngFor="let customer of customers | filterCustomer"
            [ngValue]="customer"
          >
            {{ customer.customerId }} : {{ customer.name }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="budgetStatus">Budget Status</label>
        <select
          class="form-select form-control"
          name="budgetStatus"
          id="budgetStatus"
          [(ngModel)]="updatedBudget.budgetStatus"
        >
          <option disabled selected [ngValue]="updatedBudget.budgetStatus">
            {{ updatedBudget.budgetStatus }}
          </option>

          <option ngValue="Accepted">Accepted</option>
          <option ngValue="PendingAcceptance">PendingAcceptance</option>
          <option ngValue="Canceled">Canceled</option>
        </select>
      </div>

      <ng-container *ngIf="showNewCustomerForm">
        <div class="form-group">
          <label for="customerName" class="form-label">Customer Name</label>
          <input
            required
            id="customerName"
            type="text"
            name="customerName"
            placeholder="enter customer name"
            [(ngModel)]="customer.name"
            class="form-control"
          />
        </div>
      </ng-container>

      <button
        class="btn btn-primary mb-3 mt-3"
        (click)="showProductsCart = true; openCreateAddProductModal(content)"
        type="button"
        [disabled]="processingNetworkRequest"
      >
        Show Product Cart
      </button>
      <div class="modal-container">
        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-custom">
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">
                Add budgets products
              </h4>
              <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="d('Cross click')"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card-header">Products Cart</div>

              <table
                class="table table-hover align-middle mx-auto w-auto table-sm"
              >
                <thead>
                  <tr>
                    <th scope="col">Select Product</th>
                    <th scope="col">Product Id</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Price</th>
                    <th scope="col">Quantity In Stock</th>
                    <th scope="col">Buy Quantity</th>
                    <th scope="col">Total price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let product of updatedBudget.productList;
                      let i = index
                    "
                  >
                    <td>
                      <span class="mr-2">
                        <input
                          type="checkbox"
                          class="checkbox"
                          [value]="product"
                          min="1"
                          [checked]="
                          
                            product.productQuantity > 0
                          "
                          (change)="
                            onBudgetUpdationProductCartChanged(
                              i,
                              product,
                              $event
                            )
                          "
                        />
                      </span>
                    </td>
                    <td>{{ product.productId }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                      {{ product.quantityInStock }}
                    </td>
                    <td class="extra_wide_td">
                      <button
                        class="btn btn-sm btn-dark"
                        (click)="
                          onBudgetUpdationchangeProductQuanity(product, 'sub')
                        "
                        [disabled]="product.productQuantity < 1 "
                      >
                        -
                      </button>

                      <span class="ml-2 mr-2">
                        {{ product.productQuantity }}</span
                      >
                      <button
                        class="btn btn-sm btn-success"
                        (click)="
                          onBudgetUpdationchangeProductQuanity(product, 'add')
                        "
                        [disabled]="product.quantityInStock <= 0"
                      >
                        +
                      </button>
                    </td>
                    <td>
                      {{
                        fixDigitsAfterDecimal(
                          product.productQuantity * product.price
                        )
                      }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer d-flex justify-content-around">
              <span>
                <span class="badge badge-info"> products in Cart </span> =
                {{ this.updatedBudgetProducts.length }}</span
              >

              <button
                class="btn btn-outline-dark"
                id="closeModal"
                data-dismiss="modal"
                type="button"
                (click)="this.createNewProductModal.close()"
              >
                Save
              </button>
            </div>
          </div>
        </ng-template>
      </div>

      <div class="form-group">
        <label for="officerHours" class="form-label">Officer Hours</label>
        <input
          required
          id="officerHours"
          type="number"
          name="officerHours"
          [(ngModel)]="updatedBudget.officerHours"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label for="assistantHours" class="form-label">Assistant Hours</label>
        <input
          required
          id="assistantHours"
          type="number"
          name="assistantHours"
          [(ngModel)]="updatedBudget.assistantHours"
          class="form-control"
        />
      </div>

      <span class="d-flex">
        <button
          *ngIf="!processingNetworkRequest"
          class="btn btn-outline-success"
          type="submit"
          (click)="this.createNewProductModal.close()"
        >
          Save
        </button>
        <button
          *ngIf="processingNetworkRequest"
          class="btn btn-primary"
          type="button"
          disabled
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Saving...</span>
        </button>
        <button
          class="btn btn-danger ml-auto"
          type="button"
          (click)="
            onClickToggleEditBudgetForm();
            this.updatedBudgetProducts = [];
            editForm.reset();
            this.createNewProductModal.close()
          "
          [disabled]="processingNetworkRequest"
        >
          Cancel
        </button>
      </span>
    </form>
  </div>
</div>
