<div
  class="alert-warning alert apiResponse"
  *ngIf="showErrorAlert && !showSuccessAlert"
>
  {{ apiErrorResponse }}
</div>
<div
  class="alert-success alert apiResponse"
  *ngIf="!showErrorAlert && showSuccessAlert"
>
  {{ apiSuccessResponse }}
</div>

<!-- <div class="text-center m-3" *ngIf="!showAddOrderForm && !showEditOrderForm">
  <button class="btn badge-success" (click)="onClickToggleAddOrderForm()">
    Create New Order
  </button>
</div> -->

<p *ngIf="errorMessage && errorMessage.trim().length > 0" class="alert-danger">
  {{ errorMessage }}
</p>

<ng-container *ngIf="loading">
  <app-loading-spinner> loading... </app-loading-spinner>
</ng-container>

<div>
  <ng-container *ngIf="processingNetworkRequest">
    <app-loading-spinner></app-loading-spinner>
  </ng-container>
  <div
    class="table-responsive"
    *ngIf="!showAddOrderForm && !showEditOrderForm && !loading"
  >
    <table class="table table table-hover align-middle mx-auto w-auto table-sm">
      <ng-container *ngIf="orders && orders.length > 0">
        <thead>
          <tr>
            <th scope="col">OrderNumber</th>
            <th scope="col">OrderName</th>
            <th scope="col">EmpPrice</th>
            <th scope="col">Total Price</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Report(pdf)</th>
            <th scope="col">Edit/Delete</th>
          </tr>
        </thead>
        <tbody *ngFor="let order of orders">
          <tr>
            <td>{{ order.orderId }}</td>
            <td>{{ order.orderName }}</td>
            <td>{{ fixDigitsAfterDecimal(order.empPrice) }}</td>
            <td>{{ fixDigitsAfterDecimal(order.totalPrice) }}</td>
            <td>{{ order.customer.name }}</td>
            <td>
              <button
                class="btn btn-sm badge-secondary"
                (click)="orderPdfDownload(order.orderId, order)"
              >
                Download
              </button>
            </td>
            <td>
              <fa-icon
                [icon]="editIcon"
                title="Edit"
                (click)="onEditOrder(order.orderId, order)"
                [style]="processingNetworkRequest ? 'pointer-events:none' : ''"
                [ngClass]="'edit-icon icon-button-properties mr-1'"
              ></fa-icon>
              <fa-icon
                [icon]="deleteIcon"
                title="Delete"
                (click)="onDeleteOrder(order.orderId, order)"
                [style]="processingNetworkRequest ? 'pointer-events:none' : ''"
                [ngClass]="'delete-icon icon-button-properties'"
              >
              </fa-icon>
            </td>
          </tr>
        </tbody>
      </ng-container>
    </table>
    <ng-container *ngIf="!orders || !orders.length">
      <p class="emptyOrder text-center alert-warning">
        There are no orders currently available ...
      </p>
    </ng-container>
  </div>
  <router-outlet></router-outlet>
</div>
<div class="flexCenter">
  <div *ngIf="showAddOrderForm && !showEditOrderForm">
    <h1 style="color: rgb(184, 15, 199)" class="mb-3">Add a new order</h1>

    <form
      #inputForm="ngForm"
      (ngSubmit)="onSubmit($event, inputForm)"
      class="form"
      name="orderForm"
    >
      <div class="form-group">
        <label for="text" class="form-label">Order Name</label>
        <input
          required
          id="orderName"
          type="text"
          name="orderName"
          placeholder="enter order name"
          [(ngModel)]="newOrder.orderName"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="empPrice">empPrice</label>
        <input
          required
          id="empPrice"
          type="number"
          name="empPrice"
          placeholder="enter emp wage"
          [(ngModel)]="newOrder.empPrice"
          class="form-control"
          min="0"
        />
      </div>

      <span class="d-flex">
        <button
          *ngIf="!processingNetworkRequest"
          class="btn btn-outline-success"
          type="submit"
        >
          Save
        </button>
        <button
          *ngIf="processingNetworkRequest"
          class="btn btn-primary"
          type="button"
          disabled
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Saving...</span>
        </button>
        <button
          class="btn btn-danger ml-auto"
          type="button"
          (click)="onClickToggleAddOrderForm(); inputForm.reset()"
        >
          Cancel
        </button>
      </span>
    </form>
  </div>
  <div *ngIf="showEditOrderForm && !showAddOrderForm">
    <h1 style="color: greenyellow" class="mb-3">Editing a order</h1>

    <hr />
    <form
      #editForm="ngForm"
      (ngSubmit)="onUpdateOrder(updatedOrder, $event)"
      class="form"
      name="orderForm"
    >
      <div class="form-group">
        <label for="orderName" class="form-label">Order Name</label>
        <input
          required
          id="orderName"
          type="text"
          name="orderName"
          placeholder="enter order name"
          [(ngModel)]="updatedOrder.orderName"
          class="form-control"
        />
      </div>
      <!--    <div class="form-group">
        <label for="text" class="form-label">Customer Name</label>
        
        <input
          required
          id="customerName"
          type="text"
          name="customerName"
          placeholder="enter customer name"
          [(ngModel)]="updatedOrder.customer.name"
          class="form-control"
        />
      </div> -->

      <div class="form-group">
        <label for="customer">Customer</label>
        <select
          class="form-select form-control"
          name="customer"
          id="customer"
          [(ngModel)]="updatedOrder.customer"
          (ngModelChange)="isNewCustomerSelected(updatedOrder.customer)"
        >
          <option disabled selected [ngValue]="updatedOrder.customer">
            {{ updatedOrder.customer?.customerId }} -
            {{ updatedOrder.customer?.name }}
          </option>
          <option selected ngValue="newCustomer">New customer</option>

          <option
            *ngFor="let customer of customers | filterCustomer"
            [ngValue]="customer"
          >
            {{ customer.customerId }} : {{ customer.name }}
          </option>
        </select>
      </div>

       <ng-container *ngIf="showNewCustomerForm">
        <div class="form-group">
          <label for="customerName" class="form-label">Customer Name</label>
          <input
            required
            id="customerName"
            type="text"
            name="customerName"
            placeholder="enter customer name"
            [(ngModel)]="customer.name"
            class="form-control"
          />
        </div>
      </ng-container>


      <div class="form-group">
        <label for="empPrice">empPrice</label>
        <input
          required
          id="empPrice"
          type="number"
          min="0"
          name="empPrice"
          placeholder="enter emp wage"
          [(ngModel)]="updatedOrder.empPrice"
          class="form-control"
        />
      </div>

     
      <button
        class="btn btn-primary mb-3 mt-3"
        (click)="showProductsCart = true; openCreateAddProductModal(content)"
        type="button"
        [disabled]="processingNetworkRequest"
      >
        Show Product Cart
      </button>
      <div class="modal-container">
        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-custom">
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">
                Add budgets products
              </h4>
              <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="d('Cross click')"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card-header">Products Cart</div>

              <table
                class="table table-hover align-middle mx-auto w-auto table-sm"
              >
                <thead>
                  <tr>
                    <th scope="col">Select Product</th>
                    <th scope="col">Product Id</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Price</th>
                    <th scope="col">Quantity In Stock</th>
                    <th scope="col">Buy Quantity</th>
                    <th scope="col">Total price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let product of updatedOrder.productList;
                      let i = index
                    "
                  >
                    <td>
                      <span
                        class="mr-2"
                        *ngIf="
                          product.productQuantity > 0 &&
                          product.addedToBudgetCart
                        "
                      >
                        <input
                          type="checkbox"
                          class="checkbox"
                          [value]="product"
                          min="1"
                          [checked]="true"
                          (change)="
                            onOrderUpdationProductCartChanged(
                              i,
                              product,
                              $event
                            )
                          "
                        />
                      </span>

                      <span
                        class="mr-2 unchecked"
                        *ngIf="
                          !(
                            product.productQuantity > 0 &&
                            product.addedToBudgetCart
                          )
                        "
                      >
                        <input
                          type="checkbox"
                          class="checkbox"
                          [value]="product"
                          min="1"
                          [checked]="false"
                          (change)="
                            onOrderUpdationProductCartChanged(
                              i,
                              product,
                              $event
                            )
                          "
                          (click)="
                            onOrderUpdationProductCartChanged(
                              i,
                              product,
                              $event
                            )
                          "
                        />
                      </span>
                    </td>
                    <td>{{ product.productId }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ fixDigitsAfterDecimal(product.price) }}</td>
                    <td>
                      {{ product.quantityInStock }}
                    </td>
                    <td class="extra_wide_td">
                      <button
                        class="btn btn-sm btn-dark"
                        (click)="
                          onOrderUpdationChangeProductQuanity(product, 'sub')
                        "
                        [disabled]="product.productQuantity < 1"
                      >
                        -
                      </button>

                      <span class="ml-2 mr-2">
                        {{ product.productQuantity }}</span
                      >
                      <button
                        class="btn btn-sm btn-success"
                        (click)="
                          onOrderUpdationChangeProductQuanity(product, 'add')
                        "
                        [disabled]="product.quantityInStock <= 0"
                      >
                        +
                      </button>
                    </td>
                    <td>
                      {{
                        fixDigitsAfterDecimal(
                          product.productQuantity * product.price
                        )
                      }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer d-flex justify-content-around">
              <span>
                <span class="badge badge-info"> products in Cart </span> =
                {{ this.updatedOrderProducts.length }}</span
              >

              <button
                class="btn btn-outline-dark"
                id="closeModal"
                data-dismiss="modal"
                type="button"
                (click)="this.createNewProductModal.close()"
              >
                Save
              </button>
            </div>
          </div>
        </ng-template>
      </div>

      <span class="d-flex">
        <button
          *ngIf="!processingNetworkRequest"
          class="btn btn-outline-success"
          type="submit"
        >
          Save
        </button>
        <button
          *ngIf="processingNetworkRequest"
          class="btn btn-primary"
          type="button"
          disabled
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Saving...</span>
        </button>
        <button
          class="btn btn-danger ml-auto"
          [disabled]="processingNetworkRequest"
          type="button"
          (click)="onClickToggleEditOrderForm(); editForm.reset()"
        >
          Cancel
        </button>
      </span>
    </form>
  </div>
</div>
