<h1 class="m-5">Employee Management</h1>

<table class="table">
  <ng-container *ngIf="employees" >
    <thead>
      <tr>
        <th scope="col">employeeId</th>
        <th scope="col">type</th>
        <th scope="col">username</th>
        <th scope="col">password</th>
        <th scope="col">priceTime</th>
        <th scope="col">workLogList</th>
      </tr>
    </thead>
    <tbody *ngFor="let employee of employees">
      <tr>
        <td>{{ employee.employeeId }}</td>
        <td>{{ employee.type }}</td>

        <td>{{ employee.username }}</td>

        <td>{{ employee.password }}</td>

        <td>{{ employee.priceTime }}</td>

        <td> <a [routerLink]="['/logs',employee.employeeId] "> list</a></td>
      </tr>
    </tbody>
  </ng-container>
</table>

<router-outlet></router-outlet>