<div>
  <div class="header">
    <button class="btn btn-default" (click)="toggleSidebar()">
      <fa-icon
        [icon]="displaySideBar ? faMinusIcon : faBarsIcon"
        title="toggle Taskbar"
        [ngClass]="'icon'"
      ></fa-icon>
    </button>

    <button class="btn btn-danger signoutbtn" (click)="signout()">
      Sign out
    </button>

    <nav id="myNav" class="nav">
      <a href="#" class="logo">Fawad</a>

      <ul id="nav-ul">
        <li class="nav-item">
          <a class="nav-link" href="#Home"> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#About"> About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Services"> Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Projects"> Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#ContactMe"> Contact Me </a>
        </li>
      </ul>

      <div id="nav-hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>

    <div
      id="myNav"
      class="nav"
      [ngClass]="displaySideBar ? 'showSidebar' : 'hideSidebar'"
    >
      <ul id="nav-ul">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['employees']">Employees </a>
        </li>
        <li><a class="nav-link" [routerLink]="['orders']">Orders </a></li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['products']">Products </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['suppliers']">Suppliers </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['suppliersPurchasedHistory']"
            >Suppliers Purchased History
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['budgets']">Budgets </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['workLog']">WorkLogs </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main">
    <ng-container *ngIf="loading">
      <app-loading-spinner></app-loading-spinner>
    </ng-container>
    <div *ngIf="!loading">
      <div class="body">
        <h1 style="color: red" class="m-5 text-center">Admin panel</h1>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
