<div>
  <div class="header">
    <button class="btn btn-toolbar"(click)="toggleSidebar()"> <i class="fa fa-navicon fa-lg">toggle</i></button>
         
<div id="nav-hamburger" [ngClass]="displaySideBar?'open':'close'">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="main">
    <div class="sidebar"  [ngClass]="displaySideBar? 'showSidebar':'hideSidebar'">
      <ul>
        <li><a [routerLink]="['employees']">Employees </a></li>
        <li><a [routerLink]="['orders']">Orders </a></li>
        <li><a [routerLink]="['products']">Products </a></li>
        <li><a [routerLink]="['suppliers']">Suppliers </a></li>
        <li><a [routerLink]="['budgets']">Budgets </a></li>
      </ul>
    </div>

    <div class="body">
      <h1>Admin panel</h1>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
