<ng-container *ngIf="isUserEmailLoggedIn == false">
  <div class="d-flex justify-content-center form-container-div">
    <div class="login-form">
      <ng-container
        *ngIf="!isUserEmailLoggedIn && isUserEmailLoggedIn == false"
      >
        <div>
          <h3 class="text-center text-info font-weight-bold">Log in</h3>
          <hr />
          <p *ngIf="error.message.length > 0" class="text-danger">
            {{ error.message }}
          </p>

          <form (ngSubmit)="onLoginEmail()">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                required
                [(ngModel)]="email"
                minlength="5"
                required
              />
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                required
                [(ngModel)]="password"
                minlength="1"
                required
              />
            </div>

            <button *ngIf="!SigningIn" type="submit" class="btn btn-success">
              Log In
            </button>
            <button
              *ngIf="SigningIn"
              class="btn btn-primary"
              type="button"
              disabled
            >
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Logging in...</span>
            </button>
          </form>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="isUserEmailLoggedIn || isUserEmailLoggedIn == undefined">
  <ng-container *ngIf="isUserEmailLoggedIn">
    <div class="flexCenter">
      <hr class="line-secondary" />

      <br />
      <p>please wait while we redirect to your screen......</p>
      <hr />

      <button class="btn btn-danger mb-3" (click)="signOut()">Sign Out</button>
    </div>
  </ng-container>
  <app-loading-spinner></app-loading-spinner>
</ng-container>
