<div>
    <div class="header">
        <button class="btn btn-toolbar" (click)="toggleSidebar()">toggle</button>
    </div>

    <div class="main">
        <div class="sidebar" [ngClass]="displaySideBar? 'showSidebar':'hideSidebar'">
            <ul>
                <li><a [routerLink]="['workLog']">Work Logs</a></li>
            </ul>
        </div>

            <div class="row">
                <table class="table table-striped table-hover" id="servers">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Order Id</th>
                            <th>Order Type</th>
                            <th>Number Of Hours</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let log of workLogs; let i= index;">
                        <tr>
                            <td>{{log.date}}</td>
                            <td>{{log.order.orderId}}</td>
                            <td>{{log.order?.type}}</td>
                            <td>{{log.numberOfHours}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
