/* You can add global styles to this file, and also import other style files */
.apiResponse {
  width: max-content;
  min-width: 400px;
  padding: 0 10px;
  margin: 0 auto;
  text-align: center;
}

.hideFromView {
  display: none;
}

.spinner-border {
  margin-right: 15px;
}

.relativePosition {
  position: relative;
}

p.alert-danger {
  text-align: center;
  width: max-content;
  min-width: 400px;
  margin: 0 auto;
}

.signoutbtn {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.hideSidebar {
  transform: translateX(-250px);
  transition: all 0.7s;
  position: absolute;
  height: 100vh;
}
.showSidebar {
  transform: translateX(0);
  transition: all 0.7s;
  position: absolute;
  height: 100vh;
}

.flexCenter{
      display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}