/* You can add global styles to this file, and also import other style files */
.apiResponse {
  width: max-content;
  min-width: 400px;
  padding: 0 10px;
  margin: 0 auto;
  text-align: center;
}

.hideFromView {
  display: none;
}

.spinner-border {
  margin-right: 15px;
}

.relativePosition {
  position: relative;
}

p.alert-danger {
  text-align: center;
  width: max-content;
  min-width: 400px;
  margin: 0 auto;
}

.signoutbtn {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.hideSidebar {
  transform: translateX(-250px);
  transition: all 0.7s;
  position: absolute;
  height: 100vh;
}
.showSidebar {
  transform: translateX(0);
  transition: all 0.7s;
  position: absolute;
  height: 100vh;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.delete-icon {
  margin-left: 20px;
  color: rgb(245, 0, 0);
}

.edit-icon {
  color: rgb(202, 206, 7);
}

.check-icon {
  color: #00df33;
}
.close-icon {
  color: red;
}

.icon-button-properties {
  cursor: pointer;
}

.icon-button-properties:focus,
.icon-button-properties:active {
  font-size: 90%;
}

input[type="checkbox"]:checked + li {
  text-decoration: line-through;
}

form {
  margin-bottom: 25px;
}

table.table tr {
  text-align: center !important;
}

.center-item {
  margin: 0px auto;
  text-align: center !important;
}

.table {
  margin: 0px auto;
}

.alert-warning {
  width: max-content;
  min-width: 400px;
  padding: 0 10px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .alert-warning {
    width: max-content;
    min-width: 300px;
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
  }

  .flexCenter {
  
    display:block;
    width: 75vw;
    margin: auto;

  }

  div.form-container-div {
    padding: 100px 40px;
  }

  div.login-form {
    width: 90%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
